body{
	background-image: url("background-316552_960_720.jpg");
	background-repeat: no-repeat;
}
header{
	font-family: Arial Black ;
	padding:15px;
	text-shadow: 0 0 0 white, 0 0 10px white;
	margin-left:20px;
}
section3{
	border :3px dashed black;
	height : 110px;
	width : 20%;
	margin-left: 10px;
	padding:3px;
	display:inline-block;
	background: rgba(255, 255, 255, 0.7);
	font-family:Albertus Medium ;
	font-size: 13px;
}
textarea{
	font-weight: bold;
}
.sectionStyle{
	border :1px solid black;
	height : 80px;
	width : 40%;
	display : block;
	margin:3px;
	margin-left: 10px;
	padding:10px;
	font-size:15px;
	background: rgba(255, 255, 255, 0.7);
	font-family:Antique Olive ;
}
.sectionStyle2{
	border :5px solid red;
	height : 80px;
	width : 30%;
	display : block;
	margin: 10px;
	padding:10px;
	font-size:15px;
	background: rgba(255, 255, 255, 0.7);
	font-family:Antique Olive ;
}
.sectionStyle3{
	border :8px solid yellow;
	height : 80px;
	width : 30%;
	display : block;
	margin: 10px;
	padding:10px;
	font-size:25px;
	background: rgba(255, 255, 255, 0.7);
	font-family:Antique Olive ;
}
label{
	padding:10px;
	text-shadow: 0 0 15px white, 0 0 15px white;
	font-weight: bold;
	font-size:17px;
	font-family:Bookman Old Style ;
}

.mistake{
	border :2px solid red;
	display:block;
	height : 80px;
	width : 29%;
	padding:4px;
	margin:5px;
	margin-top:15px;
	background: rgba(255, 230, 255, 0.7);
	color:#cc0000;
	font-size:18px;
}

.buttons{
	height : 80px;
	width : 60%;
	display:inline-block;
	padding: 5px;
	padding-left:20px;
	
}
button{
	border: 2px solid black;
	padding: 8px;
	margin:5px;
	font-family:Arial;
	font-size:18px;
	font-weight: bold;
	background: rgba(255, 255, 255, 0.7);
}
button:hover{
	color: #29a329;
	text-decoration: underline;
	box-shadow: 0 0 15px black;
}
.lastDiv{
	font-size:14px;
	padding:10px;
	color:white;
	text-shadow: 20px;
}

.statistics{
	font-size: 18px;
	padding:3px;
}
.needToBe{
	font-size:11px;
	color:black;
	display:inline;
}
